* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../images/background.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

.login {
    position: relative;
    background-color: #1b2b4be4;
    color: #667597;
    border-radius: 5%;
    width: 350px;
    height: 200px;
    margin: 200px auto 0;
    padding-top: 5px;
}

.login__title {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__title--iconsLogin {
    color: rgba(162, 194, 222, 0.758);
    font-size: 60px;
}

.login__input {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 70%;
}

.login__input label {
    position: relative;
    margin: 15px;
    width: 100%;
}

.login__input label input {
    background-color: #ede2e2c0;
    position: absolute;
    border: none;
    border-radius: 5px;
    right: 0%;
    height: 25px;
}

.login__input label:last-of-type {
    position: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 45px;
}

.login__input label input[type="checkbox"] {
    position: initial;
    margin: 0 10px;
}

.login__button {
    position: absolute;
    background-color: #394868;
    width: 50px;
    height: 50px;
    border: 3px solid #23232d;
    border-radius: 50%;
    color: #bac1ce;
    top: 49%;
    right: 5%;
}

.login__button--power {
    text-align: center;
    font-size: 35px;
}

.notLogin {
    text-align: center;
    margin-left: 10%;
    color: #c8d4ed;
}

.notLogin a {
    text-decoration: none;
    color: #abd3e4;
}

.login__button:hover {
    color: #5DF9FE;
    text-shadow: 0px 0px 5px #5DF9FE;
}
